.profile__add-btn {
  all: unset;
  margin: 31px 0 0;
}

@media screen and (min-width: 768px) {
  .profile__add-btn {
    margin-left: 290px;
  }
}
.profile__add-btn:hover {
  opacity: 0.6;
  transition: opacity 0.4s linear;
  cursor: pointer;
}
