.profile__edit-btn {
  all: unset;
  position: absolute;
  left: 105%;
  top: 42%;
  border-radius: 2px;
}

.profile__edit-btn:hover {
  opacity: 0.6;
  transition: opacity 0.4s linear;
  cursor: pointer;
}